.bg-stop-container {
  width: 64rem;
  position:absolute;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgba(0, 0, 0, 0.354);
  z-index: 200;
  }
  .bg-stop-container1 {
    flex: 0 0 auto;
    width: 942.88px;
    height: 428px;
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 16px;
    justify-content: center;
    background-color: #ffffff;
  }
  .bg-stop-html-node {
    top: 26.83px;
    left: 35.77px;
    position: absolute;
  }
  .glucose__division__bar{
    position: absolute;
    top:-18px;
    /* left: 0px; */
    left:80px;
    right:0px;
  }
  .bg-stop-button {
    top: 342px;
    left: 810px;
    color: #f15151;
    right: 40px;
    width: 100.93px;
    bottom: 46px;
    height: 54px;
    display: flex;
    position: absolute;
    box-shadow: 0px 10px 20px 0px rgba(241, 81, 81, 0.16);
    text-align: center;
    align-items: center;
    border-color: #f15151;
    border-width: 1px;
    border-radius: 10px;
    justify-content: center;
    background-color: #ffffff;
  }
  .bg-stop-container2 {
    top: 105px;
    flex: 0 0 auto;
    left: 389px;
    right: 389px;
    width: 165px;
    height: 165px;
    display: flex;
    position: absolute;
    align-items: center;
    border-color: #1ab58f;
    border-width: 5px;
    border-radius: 50%;
    justify-content: center;
  }
  .bg-stop-text {
    top: 0px;
    color: rgb(26, 181, 143);
    right: 23px;
    width: 47px;
    bottom: 0px;
    height: 20px;
    margin: auto;
    position: absolute;
    font-size: 10px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
  }
  .bg-stop-text3 {
    top: 0px;
    left: 0px;
    color: #1ab58f;
    right: 0px;
    width: 45px;
    bottom: 0px;
    height: 49px;
    margin: auto;
    position: absolute;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
  }
  .bg-stop-text4 {
    top: 349px;
    left: 378px;
    position: absolute;
  }