.login3-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
  }
  .login3-container1 {
    top: 0px;
    flex: 0 0 auto;
    left: 0px;
    right: 0px;
    width: 1024px;
    bottom: 0px;
    height: 600px;
    margin: auto;
    display: flex;
    position: absolute;
    margin-top: 18px;
    align-items: center;
    margin-left: 48px;
    border-color: rgba(158, 0, 0, 0);
    border-width: 1px;
    margin-right: auto;
    align-content: center;
    margin-bottom: 18px;
  }
  .login3-container2 {
    top: 0px;
    flex: 0 0 auto;
    left: 0px;
    width: 1024px;
    height: 32px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    background-color: #393939;
  }
  .login3-input {
    top: 204px;
    left: 390px;
    color: #8e8e8e;
    width: 245px;
    height: 40px;
    position: absolute;
    padding-top: var(--dl-space-space-halfunit);
    border-color: #125873;
    border-width: 2px;
    border-radius: 10px;
  }
  .login3-input1 {
    top: 204px;
    left: 129px;
    color: #125873;
    width: 238px;
    height: 40px;
    position: absolute;
    border-color: #125873;
    border-width: 2px;
    border-radius: 10px;
  }
  .login3-select {
    top: 204px;
    left: 658px;
    color: #125873;
    width: 245px;
    height: 40px;
    position: absolute;
    border-color: #125873;
    border-width: 2px;
    padding-left: 1rem;
    border-radius: 10px;
  }
  .login3-text {
    top: 177px;
    left: 392px;
    color: rgb(18, 88, 115);
    width: 91px;
    height: 19px;
    position: absolute;
    font-size: 14px;
    font-family: Manrope;
    line-height: 19px;
  }
  .login3-text1 {
    top: 177px;
    left: 131px;
    color: rgb(18, 88, 115);
    width: 91px;
    height: 19px;
    position: absolute;
    font-size: 14px;
    font-family: Manrope;
    line-height: 19px;
  }
  .login3-text2 {
    top: 123px;
    left: 459px;
    color: rgb(147, 147, 147);
    right: -131px;
    width: 106px;
    bottom: -135px;
    height: 22px;
    position: absolute;
    font-size: 16px;
    font-family: Manrope;
    line-height: 21.86px;
  }
  .login3-text3 {
    top: 123px;
    left: 459px;
    color: #939393;
    right: -567px;
    position: absolute;
    line-height: 22px;
  }
  .login3-text4 {
    top: 324px;
    left: 407px;
    width: 190px;
    height: 22px;
    position: absolute;
    font-family: Manrope;
    line-height: 22px;
  }
  .login3-text5 {
    top: 177px;
    left: 660px;
    color: rgb(18, 88, 115);
    width: 91px;
    height: 19px;
    position: absolute;
    font-size: 14px;
    font-family: Manrope;
    line-height: 19px;
  }
  .login3-button {
    top: 371px;
    left: 129px;
    color: rgb(18, 88, 115);
    width: 238px;
    height: 56px;
    display: flex;
    position: absolute;
    font-size: 14px;
    box-shadow: rgb(212, 212, 212) 5px 5px 20px 0px;
    align-items: center;
    font-family: Manrope;
    line-height: 19px;
    padding-top: 19px;
    border-color: rgba(158, 158, 158, 0.16);
    padding-left: 48px;
    border-radius: 8px;
    padding-right: 48px;
    padding-bottom: 18px;
  }
  .login3-button1 {
    top: 371px;
    left: 646px;
    color: rgb(18, 88, 115);
    width: 238px;
    height: 56px;
    display: flex;
    position: absolute;
    font-size: 14px;
    box-shadow: rgb(212, 212, 212) 5px 5px 20px 0px;
    align-items: center;
    font-family: Manrope;
    line-height: 19px;
    padding-top: 19px;
    border-color: rgba(158, 158, 158, 0.16);
    padding-left: 48px;
    border-radius: 8px;
    padding-bottom: 18px;
  }
  .login3-button2 {
    top: 371px;
    left: 390px;
    color: rgb(18, 88, 115);
    width: 238px;
    height: 56px;
    display: flex;
    position: absolute;
    font-size: 14px;
    box-shadow: rgb(212, 212, 212) 5px 5px 20px 0px;
    align-items: center;
    font-family: Manrope;
    line-height: 19px;
    padding-top: 19px;
    border-color: rgba(158, 158, 158, 0.16);
    padding-left: 48px;
    border-radius: 8px;
    padding-bottom: 18px;
  }
  .login3-button3 {
    top: 473px;
    left: 389px;
    color: rgb(255, 255, 255);
    width: 245px;
    bottom: -96px;
    height: 50px;
    display: flex;
    position: absolute;
    padding-top: 15px;
    padding-left: 83px;
    align-content: center;
    border-radius: 10px;
    padding-right: 70px;
    padding-bottom: 15px;
    background-color: rgb(18, 88, 115);
  }
  .login3-html-node {
    top: 392px;
    left: 150px;
    position: absolute;
  }
  .login3-html-node1 {
    top: 394px;
    left: 410px;
    position: absolute;
  }
  .login3-html-node2 {
    top: 393px;
    left: 665px;
    position: absolute;
  }
  .login3-html-node3 {
    top: 215px;
    left: 600px;
    position: absolute;
  }